#sidebarNav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 75px;
    transition: 0.25s;
    background-color:  #111111;
    z-index: 1;
}

#sidebarNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 150%;
    color: #818181;
    display: block;
}

#sidebarNav a:hover {
    color: #f1f1f1;
    background-color: #007bff;
    font-weight: 500;
}

#sidebarNav ul {
    padding-left: 10px;
}

.current-page li {
    font-size: 120%;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#openbtn {
    cursor: pointer;
    padding: 6px 10px;
    color: #ffffff;
    background-color: #111;
    border: none;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 3;
    transition: 0.25s;
}

#openbtn:hover {
    background-color: #444;
}

.bar-icon1, .bar-icon2, .bar-icon3 {
    width: 32px;
    height: 5px;
    background-color: #f1f1f1;
    margin: 5px 0px;
    transition: 0.25s;
}

.sidebar-close-icon .bar-icon1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.sidebar-close-icon .bar-icon2 {
    opacity: 0;
}

.sidebar-close-icon .bar-icon3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (min-width: 900px) {
    #sidebarNav {
        width: 230px;
        padding-top: 90px;
    }

    #sidebarNav a {
        font-size: 125%;
    }

    #openbtn {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #sidebarNav {
        width: 280px;
        padding-top: 100px;
    }

    #sidebarNav a {
        font-size: 150%;
    }
}

@media screen and (min-width: 1800px) {
    #sidebarNav {
        width: 300px;
    }

    #sidebarNav a {
        font-size: 160%;
    }

    #sidebarNav ul {
        padding-left: 15px;
    }
}