#sidebarNav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
    background-color:  #111;
    z-index: 1;
}

#sidebarNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebarNav a:hover {
    color: #f1f1f1;
}

#sidebarNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 15px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #111;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    #sidebarNav {
        padding-top: 15px;
    }

    #sidebarNav a {
        font-size: 18px;
    }
}