#sidebarNav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 85px;
    transition: 0.25s;
    background-color:  #111;
    z-index: 1;
}

#sidebarNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidebarNav a:hover {
    color: #f1f1f1;
    text-decoration: underline;
    font-weight: 500;
}

#sidebarNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 20px;
}

#openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 15px 20px;
    color: #ffffff;
    background-color: #111;
    border: none;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
    transition: 0.25s;
}

#openbtn:hover {
    background-color: #444;
}

.bar-icon {
width: 35px;
height: 5px;
background-color: #f1f1f1;
margin: 5px 0;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    #sidebarNav {
        padding-top: 15px;
    }

    #sidebarNav a {
        font-size: 18px;
    }
}