html, body {
    position: relative;
    height: 100%;
    margin: 0;
    background-color: #000000;
}

#login-background {
    height: 300px;
    background-size: cover;
    background-image: url("../../images/wallpaper3.jpg");
    background-repeat: no-repeat;
    text-align: center;
    /* color: #FFFFFF; */
    color: #FFF;
    padding-top: 50px;
    font-size: 300%;
    letter-spacing: .55rem;
    font-weight: 600;
    font-family: "Rock Salt", cursive;
}

.login-form {
    justify-content: center;
    color: #ffffff;
    height: 100%;
}

label {
    color: #ffffff;
    font-size: 140%;
    font-weight: 450;
}

.row {
    width: 100%;
}

@media screen and (min-width: 900px) {
    #login-background {
        height: 600px;
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1800px) {
    
}