body {
    position: relative;
    height: 100%;
    margin: 0;
    background-color: #000000;
}

#login-background {
    height: 300px;
    background-size: cover;
    background-image: url("../../images/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-position: right;
    color: #FFF;
    padding-top: 35px;
    padding-left: 5px;
    font-weight: 600;
    font-family: "Rock Salt", cursive;
}

#login-background h1 {
    font-size: 100%;
    margin-bottom: 15px;
}

#login-background ul {
    padding-left: 15px;
}

#login-background ul li {
    font-size: 80%;
    max-width: 250px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-message {
    padding-left: 50px;
    font-size: 150%;
}

.login-form {
    padding-left: 50px;
    color: #ffffff;
    height: 100%;
}

@media screen and (min-width: 900px) {
    #login-background {
        height: 400px;
    }

    #login-background h1 {
        font-size: 170%;
        margin-bottom: 15px;
    }

    #login-background ul {
        padding-left: 5px;
    }

    #login-background ul li {
        font-size: 100%;
        max-width: 425px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #login-background {
        height: 500px;
        padding-top: 160px;
        padding-left: 40px;
    }

    #login-background h1 {
        font-size: 240%;
        margin-bottom: 35px;
    }

    #login-background ul {
        padding-left: 40px;
    }

    #login-background ul li {
        font-size: 160%;
        max-width: 500px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1800px) {
    #login-background {
        height: 600px;
        padding-top: 200px;
    }

    #login-background h1 {
        font-size: 270%;
        margin-bottom: 25px;
    }

    #login-background ul li {
        font-size: 180%;
        max-width: 625px;
        margin-bottom: 15px;
    }
}