/* #create-background {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 500%;
    font-weight: 500;
    font-family: "Rock Salt", cursive;
} */

/*
NOTE: try using media queries to adjust the 'hero' size so the page's height is fixed. (no whitespace at the bottom)
*/

.create-form {
    justify-content: center;
}

.welcome-header {
    font-size: 200%;
    color: #ffffff;
    text-align: center;
}

.welcome-message {
    color: #E8E8E8;
     font-size: 120%; 
     font-weight: 500;
     text-align: center;
}


@media screen and  (min-width: 600px) {
    .welcome-header {
        font-size: 220%;
    }

    .welcome-message {
        font-size: 120%;
        margin-top: 15px;
    }
}

@media screen and (min-width: 800px) {
    .welcome-header {
        font-size: 225%;
    }

    .welcome-message {
        font-size: 125%;
    }
}

@media screen and  (min-width: 900px) {
    .welcome-header {
        font-size: 235%;
        color: red;
    }
}