/* #create-background {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    font-size: 500%;
    font-weight: 500;
    font-family: "Rock Salt", cursive;
} */

.welcome-header {
    font-size: 220%;
    color: #ffffff;
    text-align: center;
}

.welcome-message {
    color: #E8E8E8;
    font-size: 120%; 
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

.create-form {
    justify-content: center;
}

.login-page-return {
    margin-left: 10px;
    padding: 10px;
    font-size: 125%;
    color: #FFFFFF;
}

.login-page-return:hover {
    background-color: #007bff;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and  (min-width: 900px) {
    .welcome-header {
        font-size: 230%;
    }

    .welcome-message {
        font-size: 125%;
    }
}

@media screen and  (min-width: 1200px) {
    .welcome-header {
        font-size: 250%;
    }

    .welcome-message {
        font-size: 130%;
        margin-top: 15px;
    }
}

@media screen and  (min-width: 1800px) {
    .welcome-header {
        font-size: 250%;
    }

    .welcome-message {
        font-size: 130%;
        margin-top: 15px;
    }
}