/* html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 0px;
} */

.footer {
  text-align: center;
  background-color: #1c1d1f;
  width: 100%;
  color: #FFFFFF;
  padding: 10px;
  margin: 0;
}
