

/* .jumboText {
    background: rgb(204, 204, 204); 
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

h1 {
    color: white;
    font-weight: bold;
    
}

.jumboP {
    color: white;
    font-weight: bold;
    
} */