.wrapper {
    display: flex;
    
    align-items: stretch;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    /* margin-bottom: 100px; */
    clear: both;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: #999; */
    font-size:15px;
    color: #000;
    /* text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff; */
}

.user-name {
    color: #fff;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #1c1d1f;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #393f4d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1c1d1f;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4e5b74;
    background: #ffd96a;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #4e5b74;
    background: #ffd96a;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #000000;
}

.main {
    padding-top: 2.5%;
}


h2 {
    text-align: center;
    line-height: 75px;
}
.lead{
    text-indent: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 50px;
}

.delete-btn {
    color: #1c1d1f;
}


.modal-to-dashboard {
    background-color: #1c1d1f;
}


.main-content-card {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}